.type-button {
    color: white;
    border-radius: 12px;
    width: 110px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #3d3d3d;
}

.type-normal { background-color: white; color: black;}
.type-stellar { background-color: white; color: black;}
.type-unknown { background-color: white; color: black;}
.type-fire { background-color: #EE8130; }
.type-water { background-color: #6390F0; }
.type-grass { background-color: #7AC74C; }
.type-electric { background-color: #F7D02C; }
.type-ice { background-color: #96D9D6; }
.type-fighting { background-color: #C22E28; }
.type-poison { background-color: #A33EA1; }
.type-ground { background-color: #E2BF65; }
.type-flying { background-color: #A98FF3; }
.type-psychic { background-color: #F95587; }
.type-bug { background-color: #A6B91A; }
.type-rock { background-color: #B6A136; }
.type-ghost { background-color: #735797; }
.type-dragon { background-color: #6F35FC; }
.type-dark { background-color: #705746; }
.type-steel { background-color: #B7B7CE; }
.type-fairy { background-color: #D685AD; }

#back-to-top {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
}

.outlined-text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.h1 span {
    display: inline-block;
    margin: 0;
    padding: 0;
}