<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
<div class="centered-div">
    <h1>
        <span class="outlined-text" style="color: red;">P</span><img src="/images/Pokeball.png" alt="o" width="30" height="30"><span class="outlined-text" style="color: white;">ké-list</span>
    </h1>
    <a href="pokemon/list">
        <button type="button" class="btn btn-outline-primary btn-lg">Pokemon List</button>
    </a>
    <br/>
    <a href="pokemon/pokemon-random">
        <button type="button" class="btn btn-outline-info btn-lg">Random Pokémon</button>
    </a>
</div>
</body>
</html>